//vars
@bgcolor: lightblue;
@fuente: Arial;
@b: body;

@{b}{
    background: @bgcolor;
}

h1{
    font-family: @fuente;
}

//nesting
.informacion{
    ul{
        a{
            color: green;
            font-size: 18px;
        }
    }
}

//mixins
.sombras(@size){
    box-shadow: 0px 0px @size black;
    text-shadow: 0px 0px @size gray;
}

.informacion{
    .sombras(5px);
}

//operators
h1{
    font-size: 30px + 7px;
}

//conditional mixins
.textonegro (@value) when (@value=true){
    color: black;
}

h1{
    color: blue;
    .textonegro(true)
}

//loops
.loop(@cont) when (@cont > 0){
    .loop((@cont - 1));
    height: (900px / @cont);
}

.informacion{
    height: 900px;
    .loop(5)
}