//variables
$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo: #ccc;
$color-letra: rgb(47, 47, 114);
$color-secundario: rgb(122, 20, 20);

//uso de variables
body{
    background-color: $color-fondo;
}

h1{
    font-family: $fuente-tipica;
    color: $color-letra;
}

p{
    color: $color-secundario;
}

//anidacion
.caja{
    border: 1px solid black;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    padding: 10px;

    h1{
        color: green;
    }

    p{
        color: yellow;
    }

    .info{
        font-size: 10px;

        .author{
            font-size: 15px;
            color: orange;
        }
    }
}

//mixins/funciones
@mixin crearBorders($color, $size, $shadow){
    border: $size solid $color;
    border-radius: $size;
    box-shadow: 0px 0px $size $shadow;
}

.caja{
    @include crearBorders(red, 10px, black);
}

.listado{
    @include crearBorders(green, 5px, yellow);
}

//herencia
%alert-normal{
    border: 1px solid gray;
    background: #eee;
    color: black;
    padding: 10px;
    width: 80%;
    margin: 20px auto;
}

.alert{
    @extend %alert-normal;
}

.alert-danger{
    @extend %alert-normal;
    color: red;
    border-color: red;
}

.alert-success{
    @extend %alert-normal;
    color: green;
    border-color: green;
}

//operators
.clearfix{
    clear:both;    
}

h1{
    font-size: 20px + 5px -3px;
}

$caja: 200px;
$wrap: 900px;

.cajas{
    width: $wrap;
    margin: 0px auto;

}
.caja{
    float: left;
    width: $caja / $wrap * 100%;
    margin: 10px;
}

//conditionals
h1{
    @if $color-fondo == #ccc {
        color: black;
    } @else if $color-fondo == blank{
        color: lightsalmon;
    } @else  {
        color: pink;
    }
}

//for loop
$contador: 1;
@for $contador from 1 through 10{
    .listado ul li:nth-child(#{$contador}) {
        color: orange;
        font-size: $contador * 2px;
    }
}


