/*
ejercicio completo con html y css.
1. crear un doc html y vincularlo con un css.
2. crear una estructura html q cuente con: un contenedor
    general, cabecera, menu, barra lateral, seccion de contenido
    principal, elementos dentro del contenedor principal, y
    footer.
3. todo el contenido deber estar dentro del contenedor 
    general y su ancho sera de 1200pxy estar centrado.
4. el header debe ocupar el 100% del ancho y tener un texto 
    grande centrado.
5. el menu debe tener los elementos uno al lado del otro.
6. el contenido principal debe tener un ancho del 70%.
7. el contenido dentro del contenedor principal debe ser una 
    cuadricula con 4 lineas de 2 cajas.
8. la barra lateral debe tener un ancho del 30%.
9. el footer debe tener un ancho del 100% del div q lo
    contiene y estar abajo de todo.
*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general {
    width: 1200px;    
    margin: 0px auto; /* centers the element */
    margin-top: 20px;
    border: 1px solid #ccc;
}

#header {
    width: 100%;
    height: 100px;
    background: rgb(15, 118, 236);
    color: white;
    text-align: center;
    line-height: 90px;
}

.clearfix {
    float: none;
    clear: both;
}

#menu {
    background-color: #eee;
}

#menu ul li {
    /*display: inline-block; this an alternative */
    display: block ;
    float: left;    
    border-right: 1px solid #ccc;
}

#menu ul li a {
    display: block;
    padding: 15px;
    color: #444;
}

#menu ul li:hover {
    background: rgb(16, 75, 143);
    cursor: pointer;
}

#menu ul li:hover a {
    color: white;
}

#contenido {
    float: left;
    width: 69%;
}

#lateral {
    float: left;
    width: 30%;
    border: 1px solid red;
    min-height: 500px;
    max-height: 650px;
    text-align: center;
    overflow-y: scroll;
}

#contenido > h1 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444;
    text-shadow: 1px 1px 2px gray;
}

#contenido .caja {
    position: relative; /*no changes*/
    width: 40%;
    height: 250px;
    background-color: #ccc;
    border: 1px solid gra;
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 200px;
    color: #444;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px gray;
    /* rounded borders */
    border-radius: 50px 10px 4px 61px;
    /*border-radius: 999px; maximum, a circle when square boxes*/
}

.sombra-interior {
    box-shadow: 0px 0px 20px gray inset !important; 
}        

footer {
    width: 100%;
    background: #eee;
    text-align: center;
    color: #444;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #ccc;
}

.libre {
    position: absolute;
    top: 300px;
    left: 50%;
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}

.libre1 {
    z-index: 2;
}

.libre2 {
    background-color: green;
    top: 280px;
    left: 50%;
    z-index: 1;
}

.fija {
    position: fixed; /*doesn't move when scrolling*/
    top: 50%;
    left: 0px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}