body{
    --rojo: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 600px;
    align-items: flex-start;
    border: 3px solid black;
    padding: 5px;
}

.caja{
    width: 98px; /*forces all boxes to have the same size.*/    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}

.red{
    align-self: flex-start;    
    background: var(--rojo);
}

.green{
    margin-top: 10%;
    background: green;
}

.blue{
    align-self: center;    
    background: blue;
}

.orange{
    align-self: flex-end;    
    background: orange;
}