body {
    background-color: #ccc;    
    color: black;
    text-align: justify;
    text-indent: 15px;
    /*
    word-spacing: 10px;
    letter-spacing: 5px;
    */
}

#caja {
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(94, 131, 212);
    color: white;
    font-family: "Open Sans";
    text-align: center;    
    text-transform: uppercase;
    text-decoration: line-through ;
    vertical-align: top;    
}

h2 {
    color: red;
    background: white;
    border: 5px solid red ;
    background-image: url(../images/patron1.jpg);
}