#boton {
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid rgb(6, 83, 6);
    /*transition: all 3s; applys all these styles before hover. 
      Solution: moved transition to next selector*/    
}

#boton:hover {
    border-radius: 15px;
    background: orangered;
    border: 5px solid red;
    /*transition: all 3s; tested fine*/
    /*transition: all 500ms;tested fine*/
    /*transition: border 500ms; tested fine*/
    transition: border 500ms, background 3s, border-radius 1s;
}

#caja {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background: lightseagreen;
    color: white;
    border: 5px solid black;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    animation-name: desplazamiento;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*animation rules*/

/*this doesn't have a smooth return
@keyframes desplazamiento { 
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 1200px;
    }
}
*/
@keyframes desplazamiento { 
    0% {
        margin-left: 0px;
        transform: rotate(0deg);
    }
    50% {
        margin-left: 1200px;
        transform: rotate(360deg);
        border-radius: 999px;
    }
    75% {
        background: red;
    }
    77% {
        border: 10px dashed blue;
    }
    100% {
        margin-left: 0px;
        transform: rotate(0deg);
    }
}