body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    /*display: inline-flex*/
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap; /*saves 2 statements*/

    border: 3px solid black;
    padding: 5px;
}

.caja{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}

.red{
    background: red;
}

.green{
    background: green;
}

.blue{
    background: blue;
}

.orange{
    background: orange;
}