body{
    font-family: sans-serif;
    text-align: center;
}

.layout{
    width: 80%;
    height: 600px;
    margin: 0px auto;
    /*definir el grid layout*/
    display: grid;
    /*grid-template-columns: 50%  45%;*/
    /*grid-template-columns: repeat(2, calc(25% - 10px)) 15% 35%;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: 1fr 1fr 1fr;*/ /*creates 3 rows*/
    /*grid-template-rows: 50% 10% 40%;*/
    /*grid-template-rows: 1fr 2fr 1fr;*/
    grid-template-rows: repeat(2, 1fr) 3fr;


    /*espacio entre elementos grid*/
    grid-gap: 10px;
    padding: 10px;
    border: 3px solid orangered;
}

.layout .caja{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    background: gray;
}

.layout .red{
    grid-column-start: 1;
    grid-column-end: 4;
    background: red;
}

.layout .green{
    grid-row-start: 2;
    grid-row-end: 6;
    background: green;
}

.layout .blue{
    grid-column: 2 / 4;
    background: blue;
}

.layout .pink{
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background: palevioletred;
}

.layout .orange{
    grid-row: 3 / 5;
    background: orange;
}

.layout .lightblue{
    /*grid-column-start: 1;
    grid-column-end: 3;*/
    grid-column: 2 / 4; /*shortcut*/
    background: lightblue;
}