body{
    --rojo: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    /*display: inline-flex*/
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap; /*saves 2 statements*/
    /*justify-content: flex-end; justifies to the right*/
    /*justify-content: flex-start; justifies to the left*/
    /* justify-content:left == justify-content: flex-start*/
    /* justify-content:right == justify-content: flex-end*/
    /*justify-content: center; centers*/
    justify-content: space-around; /*adds spaces homogeneously*/
    /*space-between, ..-evenly to play with spaces*/
    border: 3px solid black;
    padding: 5px;
}

.caja{

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}

.red{
    
    background: var(--rojo);
}

.green{

    background: green;
}

.blue{

    background: blue;
}

.orange{

    background: orange;
}