body {
    background-color: #ccc;
    background-image: url(../images/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; /*background image doesn't move*/
    background-position: right bottom;
    color: white;
}

#caja {
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(94, 131, 212);
    color: white;
}

h2 {
    color: red;
    background: white;
    border: 5px solid red ;
    background-image: url(../images/patron1.jpg);
}