@font-face {
    font-family: CustomMontserratFont;
    src: url(../fonts/Montserrat-Regular.ttf);
}

h1 {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Mansalva', cursive;
    font-style: italic;
    text-transform: uppercase;
    font-size: 45px;
    /*system color*/
    color: mediumpurple;
    /*hexadecimal color*/
    color:#6753ca99;
    /*rgb colors*/
    color: rgb(255, 225, 107);
    /*rgba colors*/
    color: rgba(255, 225, 107, 0.5);
}

h3 {
    font-family: CustomMontserratFont, "Comic Sans MS" ;
    font-size: 35px;
    font-weight: lighter;
    color: olive;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}