body{
    --rojo: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    /*display: inline-flex*/
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap; /*saves 2 statements*/

    border: 3px solid black;
    padding: 5px;
}

.caja{
    flex-grow: 1;
    flex-basis: calc((100%/3) - 68px);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}

.red{
    
    background: var(--rojo);
}

.green{

    background: green;
}

.blue{

    background: blue;
}

.orange{
    flex-basis: 100%;
    background: orange;
}