* {
   margin: 0px; 
   padding: 0px;
}

body {
    padding: 40px;
}

#cajas {
    max-width: 1033px;
    border: 1px solid black;
}

.caja {
    display: block;
    width: 250px;
    height: 250px ;
    background-color: lightblue ;
    border: 10px solid red;
    margin: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 24px;
    margin-right: 10px;
    padding: 20px;
    padding-bottom: 34px;
    float: left;
}

.caja p {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    line-height: 235px;
}

.clearfix {
    float: none;
    clear: both;
}