body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    /*display: inline-flex*/
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap; /*saves 2 statements*/

    border: 3px solid black;
    padding: 5px;
}

.caja{
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}

.red{
    flex-grow: 25;
    background: red;
}

.green{
    flex-grow: 7;
    background: green;
}

.blue{
    flex-grow: 0;
    flex-shrink: 0;
    background: blue;
}

.orange{
    flex-grow: 10;
    background: orange;
}