body{
    --rojo: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout{
    display: flex;
    /*display: inline-flex*/
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap; /*saves 2 statements*/    
    justify-content: space-evenly; 

    /*vertical alignment*/
    height: 600px;
    /*align-items: baseline; on top*/
    /*align-items: center; centered*/
    /*align-items: flex-end; to the bottom*/
    /*align-items: flex-start; on top*/
    align-items: flex-start;

    border: 3px solid black;
    padding: 5px;
}

.caja{

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}

.red{
    align-self: start;
    background: var(--rojo);
}

.green{
    margin-top: 10%;
    background: green;
}

.blue{
    align-self: center;
    background: blue;
}

.orange{
    align-self: flex-end;
    background: orange;
}