
* {
  margin: 0px;  
  padding: 0px;
}
.clearfix {
    float: none;    
    clear: both;
}

#container {
   width: 70%;    
   background: red;
   margin: 0px auto;
   margin-top: 40px;
   margin-bottom: 40px;
   font-family: Arial, Helvetica, sans-serif
}

header {
    width: 100%;
    height: 150px;
    background: lightskyblue ;
    color: #333;
    line-height: 150px;
    text-align: center;
}

aside {
    width: 25%;
    float: left;
    min-height: 700px;
    background: #ccc;
    text-align: center;
    line-height: 700px;
}

#articles {
    background-color: lemonchiffon;
    width: 75%;
    min-height: 700px;
    float: left;
}

#articles article {
    width: 25%;
    height: 150px;
    background: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}

/*responsive*/
/*from width= 0px to 888px css will apply this rule.
from 889px to ....px will apply the regular rules */
@media (max-width: 888px) {
    #articles article {
        width: 40%;
        background: red;
    }
}

/*from width= 0px to 632px and height = 0px to 600px css will apply this rule.
from width= 633px to 888px will apply the previous media query
from width= 889px to ....px will apply the regular rules
@media (max-width: 632px) and (max-height: 600px) {
    #articles article {
        width: 90%;
        background: blue;
    }
}
*/

/* another alternative */
@media (max-width: 632px) {
    #container {
        overflow: hidden;
    }

    aside {
      float: none;
      min-height: auto;
      line-height: 20px;
      width: 91%;
      padding: 19px;
    }

    #articles {
        width: 100%;
    }
    
    #articles article {
        width: 90%;
        background: blue;
    }
}
@media (max-width: 554px) {
    body {        
        background: lightsalmon;
    }
}
